<!doctype html>
<title>{% block title %}{% endblock %} Todo App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    {% if g.user %}
        <p>{{ g.user['username'] }}</p>
    {% else %}
        <p>Welcome</p>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>